# Link to the github commit that you want to install
# e.g. git+https://github.com/airplanedev/python-sdk@1feeba7f411b5385edae4454b4d301d5501eeada
git+https://github.com/airplanedev/python-sdk@820665f237bd5572a4dde134da7792e09b1f7380
